<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BillionWordImputation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>collapse_ngrams.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>count_unigrams.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>find_gaps.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>reduce_vocab.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1F08416619DBC07400EF7E80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F4767EE1AAD23EF00AC65C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FBE850919CBAE7900519CEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FBE851A19CBAED100519CEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FE4E07319CBE8150009415D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
